@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">This is an awesome dinner club. Join us!</p>
    <p><a href="http://google.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>We eat food</h2>
        <p>
            All kinds of food!
        </p>
    </div>
    <div class="col-md-6">
        <h2>Are you hungry?</h2>
        <p>We like pizza. Everbody likes pizza. Order your own pizza now!</p>
        <p><a class="btn btn-default" href="https://www.just-eat.dk/">Pizza Time &raquo;</a></p>
    </div>
   
</div>